<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
</div>
<p>
  This app was built by <a target="_blank" href="https://github.com/jwlindsey">James Lindsey</a>
</p>
<br />
<p>
  I wanted to make something encouraging that would help to lifts the spirits of someone else who may be in my shoes. I've been trying to lose weight for almost a year now and have been having trouble with finding the consistent motivation.
</p>

<div class="col-xs-12 col-sm-4">
  <%= image_tag 'james.jpg', class: 'image-responsive' %>
</div>

<div class="col-xs-12 col-sx-7 col-sm-offset-1">
  <h2 class="text-center">James Lindsey</h2>
  <br />
  <p>
    James Lindsey is a budding web developer who has a wide range of experience in many different career fields. He's spent years as an AV technician in the infamous Branson, Mo. During which he also worked in construction in fields ranging from drywall texturing, carpentry, masonry to framing. He met his 1st and only girlfriend in Missouri and is now happily married and living in Austin, Tx where they moved for her education in engineering. In Austin James managed various retail stores and worked as an electrician in the construction industry. Eventually he became bored and thought he would try coding because he was looking for more problems to solve.
  </p>
</div>
<br class="clear" />

<br />
<br />
<br />
<br />
<br />
